<ng-container *ngIf="authService.isAuthenticated()">
  <ng-container *ngIf="todaysTestResults$ | async as results">
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-card fxFlex="75%" fxFlex.lt-md="95%">
        <mat-card-title fxLayoutAlign="center">{{results[0].location}}</mat-card-title>
        <mat-card-content>
          <app-speed-test-line-graph [speedTestResults]="results"></app-speed-test-line-graph>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</ng-container>
